<section id="projects" class="projects-section">
  <h2 class="projects-section-header">Some personal projects...</h2>

  <div class="projects-grid">
    <a
      *ngFor="let project of Projects | async"
      [href]="project.githubLink"
      target="_blank"
      class="project project-tile"
    >
      <img
        class="project-image"
        [src]="project.src"
        [alt]="project.projectTitle"
      />
      <p class="project-title">
        <span class="code">&lt;</span>
        {{ project.projectTitle }}
        <span class="code">&#47;&gt;</span>
      </p>
    </a>
  </div>

  <a
    href="https://github.com/viniciusbernardo22"
    class="btn btn-show-all"
    target="_blank"
    >Ver todos<i class="fas fa-chevron-right"></i
  ></a>
</section>
